*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 34px;
    box-shadow: 0px 0px 30px 10px lightgray;
    border-radius: 25px;
}


nav{
    box-sizing: border-box;
    height: 7vh;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cc00cc;
    border-radius: 25px 25px 0px 0px;
}
nav ul{
    display: flex;
    gap: 15px;
}

nav ul li{
    font-size: 20px;
    list-style: none;
    cursor: pointer;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.AppName{
    font-size:x-large;
    font-weight: bolder;
}

main{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    height: calc(100vh - 20vh);
    border-radius:0px 0px 25px 25px ;
}

section{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px 2px lightgray;
    border-radius: 20px;
}

.heading{
    font-weight: bold;
    font-size: 30px;
}

.info{
    font-size:20px;
}




@media screen and (max-width:500px) {
    body{
        margin: 18px;
    }
}